header
{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}

header .overlay 
{
    background: linear-gradient(
        to right,
        rgba(41, 153, 155, 0.8) 0%,
        rgba(167, 173, 44, 0.8) 100%
    );
    height: 100vh;
}

@font-face
{
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body
{
    font-family: ar-font;
    direction: rtl;
}

nav.navbar ul.navbar-nav
{
    padding-right:0;
}

nav.navbar ul.navbar-nav li a.nav-link
{
    color: #e8e8e8;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all .5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active
{
    color: #16aeca;
    background-color: #ffffff;
}

nav.navbar .navbar-brand img 
{
    width: 100%;
}

nav.navbar.noTransparent *
{
    transition: all .5s ease;
}
nav.navbar.noTransparent ul.navbar-nav li a.nav-link
{
    color: #16aeca;
}

nav.navbar.noTransparent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparent ul.navbar-nav li a.nav-link.active
{
    color: #dae413;
    background-color: #16aeca;
}

nav.navbar.noTransparent .navbar-brand img 
{
    width: 80%;
}

nav.navbar.noTransparent
{
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

nav.navbar button.navbar-toggler
{
    margin: 30px auto;
    transition: all 1s ease;
}
nav.navbar button.navbar-toggler span 
{
    color: #ffffff;
}

nav.navbar.noTransparent button.navbar-toggler span {
    color: #16aeca; 
  }

@media (max-width: 767px) {
    nav.navbar .container {
        max-width: 100%;
        flex-direction: row-reverse; 
    }
    .navbar .navbar-toggler {
        outline: none;
        margin: 0 !important;
    }
    .navbar .navbar-toggler span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav.navbar .navbar-brand img {
        width: 80%;
    }
}


header .overlay .slider .carousel-inner .carousel-item
{
    min-height: 100vh;
    opacity: 0;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption
{
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active
{
    opacity: 1;
}
header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3
{
    font-size: 40px;
    line-height: 60px;
    transform: translateY(50px);
    transition: all 1s ease;
}
header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3
{
    transform: translateY(0px);
}
header .overlay .slider .carousel-inner .carousel-item .carousel-caption
{
    bottom: 30%;
}
header .overlay .slider .carousel-inner .carousel-item .carousel-caption a
{
    font-size: 18px;
    color: #ffffff;
    background-color: #16aeca;
    line-height:50px;
    border-radius: 30px;
    padding:0 2rem;
    margin-top:30px;
    display: inline-block;
    transform: translateY(50px);
    transition: all 1s ease;
}
header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a
{
    transform: translateY(0px);
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover
{
    background-color: #dae413;
    color: #555555;
}
header .overlay .slider .carousel-control-prev i,
header .overlay .slider .carousel-control-next i
{
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 30px 20px;
}

header .overlay .slider .carousel-control-prev
{
    left: 20px;
}
header .overlay .slider .carousel-control-next
{
    right: 20px;
}